<h1>Picture Details </h1>

<p>
	<%= image_tag(@picture.source, :height => 100) %>
</p>

<p><%= @picture.caption %></p>

<p><%= link_to("Edit this picture", edit_picture_url(@picture.id)) %></p>

<p><%= link_to("Delete this picture", delete_picture_url(@picture.id), :method => "delete") %></p>

<p><%= link_to("Return to Collection", pictures_url) %></p>
